* {
    margin: 0;
    padding: 0;
}

.sky {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #588BB6, #829CB5);
    overflow: hidden;
}

.cloud {
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 10%;
    margin-top: -30px;
    margin-left: -30px;
    background: #FFFFFF;
    height: 60px;
    width: 60px;
    box-shadow:
        65px -15px 0 -5px #FFFFFF,
        25px -25px #FFFFFF,
        30px 10px #FFFFFF,
        60px 15px 0 -10px #FFFFFF,
        85px 5px 0 -5px #FFFFFF;

    &.cloud_two {
        top: 25%;
        right: 10%;
        left: auto;
    }
}

.mauzolej {
    width: 630px;
    height: 800px;
    position: relative;

    .wall-row {
        display: flex;
    }

    .brick {
        width: 45px;
        height: 15px;
        background-color: #C5B3A6;
        border: 1px solid #5D5247;

        &.brick-dark {
            background-color: #626262;
            border: 1px solid #4C4C4C;
        }

        &.small {
            width: 30px;
        }

        &.big {
            width: 55px;
        }

        &.large {
            width: 65px;
        }

        &.dark {
            background-color: #A18A74;
        }

        &.solid {
            background-color: #B0A297;
        }

        &.gray {
            background-color: #8F7E75;
        }

    }

    &-side {
        position: absolute;
        top: 150px;
        width: 220px;
        height: 250px;
        background-color: #CCBAAD;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        z-index: 100;

        &.right {
            right: 0px;
        }
    }

    &-gate {
        display: flex;
        gap: 3px;
        position: absolute;
        top: 230px;
        left: 220px;
        width: 190px;
        height: 150px;
        background-color: #000;
        z-index: 30;

        &_line {
            margin-top: 20px;
            height: 130px;
            width: 1px;
            background-color: rgb(92, 93, 91);

            &.big {
                background-color: #4C4C4C;
                height: 140px;
                margin-top: 10px;
                width: 5px;
                border-radius: 90px;
            }

            &-across {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #4C4C4C;
                top: 40px;

                &.bottom {
                    top: auto;
                    bottom: 15px;
                }
            }
        }
    }

    &-plate {
        position: absolute;
        top: 200px;
        left: 220px;
        width: 190px;
        height: 30px;
        background-color: #505050;
        z-index: 30;
    }

    &-roof {
        position: absolute;

        &.bottom {
            top: 115px;
            left: 195px;
            width: 240px;
            height: 80px;
            background-color: #626262;
            z-index: 10;

            &::before {
                content: '';
                position: absolute;
                z-index: 20;
                width: 156px;
                height: 156px;
                background-color: #000;
                border: 10px solid #4C4C4C;
                border-radius: 100%;
                left: 32px;
                top: 46px;
            }
        }

        &.top {
            top: 55px;
            left: 195px;
            width: 0;
            height: 0;
            border-left: 120px solid transparent;
            border-right: 120px solid transparent;
            border-bottom: 60px solid #626262;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
            }
        }
    }

    &-antenna {
        position: absolute;
        top: 59px;
        height: 91px;
        width: 4px;
        background-color: #798090;
        right: 160px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    &-stairs {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 380px;
        left: 220px;
        width: 190px;
        perspective: 100px;
        z-index: 10;

        .step {
            background-color: #626262;
            width: 100%;
            height: 15px;
            border-bottom: 2px solid #4C4C4C;
        }
    }

    &-floor {
        background-color: #DBCBBE;
        position: absolute;
        top: 405px;
        width: 100%;
        height: 100px;
        z-index: 1;
    }

    &-floor_stairs {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 505px;
        z-index: 2;
        width: 190px;
        left: 220px;

        .step {
            background-color: #CFBDB0;
            width: 100%;
            height: 15px;
            border-bottom: 2px solid #A99583;
        }
    }

    &-wall {
        position: absolute;
        top: 404px;
        left: -130px;
        width: 350px;
        height: 250px;
        background-color: #C1A38F;
        z-index: 100;
        background-image: url('assets/images/wall.png');
        background-position: center;
        background-repeat: repeat;

        &.right {
            left: auto;
            right: -130px;
        }
    }

    &-flag {
        position: absolute;
        right: -199px;
        top: 317px;
        width: 200px;
        height: 100px;

        &.left {
            left: -199px;
            right: auto;

            .stick {
                transform: rotate(-17deg);
            }

            .shape {
                transform: rotate(-17deg);
                left: -13px;
                border-left-color: #EAB623;
                border-right-color: transparent;
            }
        }

        .stick {
            position: absolute;
            left: 96px;
            top: 0;
            width: 3px;
            height: 100px;
            transform: rotate(17deg);
            background-color: #B75B22;
        }

        .shape {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 104px;
            top: 17px;
            transform: rotate(17deg);
            width: 100px;
            height: 50px;
            background-color: #E4010B;
            border: 2px solid #EAB623;
            border-left-color: transparent;

            img {
                width: 30px;
                height: 31px;
            }
        }
    }

    &-grass {
        position: absolute;
        top: 522px;
        left: -1180px;
        width: 0;
        height: 0;
        border-top: 500px solid transparent;
        border-right: 1400px solid #6b9c58;
        border-bottom: 500px solid transparent;
        z-index: 100;

        &.right {
            border-left: 1400px solid #6b9c58;
            border-right: 0 solid transparent;
            right: -1180px;
            left: auto;
        }
    }

    &-mountain {
        position: absolute;
        bottom: -35px;
        left: -734px;
        border-left: 300px solid transparent;
        border-right: 300px solid transparent;
        border-bottom: 361px solid #6285A9;
        z-index: 1;

        &.two {
            left: -814px;
            bottom: -20px;
            opacity: .3;
            z-index: 0;
        }

        &.three {
            left: -674px;
            bottom: -10px;
            opacity: .5;
            z-index: 0;
        }

        &.right {
            left: auto;
            right: -734px;
        }

        &.right.two {
            left: auto;
            right: -814px;
        }

        &.right.three {
            left: auto;
            right: -674px;
        }

        &-top {
            position: absolute;
            right: -65px;
            border-left: 65px solid transparent;
            border-right: 65px solid transparent;
            border-bottom: 77px solid #ceeaf6;
            z-index: 2;
        }

        &-cap {
            position: absolute;
            top: 70px;
            left: -55px;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 25px solid #ceeaf6;

            &.two {
                left: -25px;
            }

            &.three {
                left: 5px;
            }
        }

    }

    &-bush {
        position: absolute;
        width: 200px;
        background-color: #358856;
        z-index: 1000;
        height: 50px;
        top: 600px;
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        right: 0;
        z-index: 100;

        &.two {
            background-color: #25523B;
            top: 630px;
            right: -50px;
            z-index: 102;

            .leaf {
                background-color: #25523B;
            }
        }

        &.three {
            background-color: #0C3823;
            z-index: 101;
            right: -160px;
            top: 618px;

            .leaf {
                background-color: #0C3823;
            }
        }

        &.four {
            background-color: #0C3823;
            right: auto;
            left: -256px;
            top: 642px;

            .leaf {
                background-color: #0C3823;
            }
        }

        &.five {
            right: auto;
            left: -362px;
            top: 680px;
        }

        .leaf {
            position: absolute;
            top: -8px;
            left: -10px;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            background-color: #358856;

            &.two {
                width: 30px;
                height: 30px;
                top: -20px;
                left: 13px;
            }

            &.three {
                top: -30px;
                left: 30px;
            }

            &.four {
                width: 70px;
                height: 70px;
                top: -46px;
                left: 63px;
            }

            &.five {
                width: 30px;
                height: 30px;
                top: -21px;
                left: 122px;
            }

            &.six {
                top: -30px;
                left: 140px;
            }

            &.seven {
                width: 40px;
                height: 40px;
                top: 6px;
                left: 170px;
            }
        }
    }

    &-stone {
        position: absolute;
        z-index: 1000;
        top: 637px;
        width: 171px;
        height: 108px;
        background: #eae6ed;
        box-shadow: inset -28px -22px 36px #778, inset 38px 18px 36px #fffffc, 12px 8px 18px hsla(0, 0%, 0%, 0.25);
        display: flex;
        border-radius: 49% 68% 86% 200px /62% 54% 80% 180px;
        transform: rotate(180deg);
        right: -310px;

        &.two {
            right: -393px;
            width: 100px;
            height: 60px;
            box-shadow: inset -28px -22px 36px #fffffc, inset 38px 18px 36px #778, 12px 8px 18px hsla(0, 0%, 0%, 0.25);
            top: 700px;
        }

        &.three {
            right: -393px;
            box-shadow: inset -28px -22px 36px #fffffc, inset 38px 18px 36px #778, 12px 8px 18px hsla(0, 0%, 0%, 0.25);
            top: 700px;
            right: -330px;
        }

        &.four {
            top: 689px;
            right: -477px;
            width: 120px;
            height: 80px;
        }

        &.five {
            right: -414px;
            width: 100px;
            height: 60px;
            top: 756px;
        }

        &.six {
            right: -592px;
            width: 200px;
            height: 120px;
            top: 720px;
        }

        &.seven {
            box-shadow: inset -28px -22px 36px #fffffc, inset 38px 18px 36px #778, 12px 8px 18px hsla(0, 0%, 0%, 0.25);
            right: -500px;
            width: 80px;
            height: 50px;
            top: 796px;

        }

        &.eight {
            right: -584px;
            width: 90px;
            height: 60px;
            top: 807px;
        }

        &.nine {
            right: -758px;
            width: 200px;
            height: 120px;
            top: 770px;
            transform: rotateX(180deg);
            box-shadow: inset -28px -22px 36px #fffffc, inset 38px 18px 36px #778, 12px 8px 18px hsla(0, 0%, 0%, 0.25);

        }

        &.ten {
            right: -579px;
            width: 140px;
            height: 90px;
            top: 825px;
        }

        &.eleven {
            right: -448px;
            width: 168px;
            height: 106px;
            top: 800px;
            transform: rotateX(180deg);
        }

        &.twelve {
            right: -331px;
            width: 90px;
            height: 50px;
            top: 789px;
            box-shadow: inset -28px -22px 36px #fffffc, inset 38px 18px 36px #778, 12px 8px 18px hsla(0, 0%, 0%, 0.25);
            transform: rotateX(180deg);
        }

        &.thirteen {
            right: -381px;
            width: 172px;
            height: 130px;
            top: 826px;
            box-shadow: inset -28px -22px 36px #fffffc, inset 38px 18px 36px #778, 12px 8px 18px hsla(0, 0%, 0%, 0.25);
        }

        &.fourteen {
            right: -275px;
            width: 80px;
            height: 50px;
            top: 803px;
        }
    }



}